# DIS08 / OR92 Data Modeling: Python - Introduction (Setup, file management, etc.)

In this lecture, we’ll cover and recap the basics of Python programming, including:

- Python data structures: lists, tuples, dictionaries, and sets.
- Basic file management: reading from and writing to files.
- String handling: manipulation of text data and regular expressions.

In the lab assignments, you will setup your Python development environment, rerun this notebook, and get started with the `pandas` library.

If you would like to study Python more in-depth, we recommend the book [Automate the Boring Stuff With Python](https://automatetheboringstuff.com/). This book also inspired some of the contents in this notebook.

1. Basic Syntax

In [ ]:
# This is a comment in Python

In [ ]:
# Print "Hello, World!" to the console
print("Hello, World!")

In [ ]:
# Variable assignment
x = 5  
x

2. Data Types

In [ ]:
# Integer type
integer_num = 10
type(integer_num)

In [ ]:
# Float type
float_num = 3.14
type(float_num)

In [ ]:
# String type
str_val = "Python"
type(str_val)

3. Basic Operators

In [ ]:
a = 10
b = 3

In [ ]:
# Addition
print(a + b)

In [ ]:
# Subtraction
print(a - b)

In [ ]:
# Multiplication
print(a * b)

In [ ]:
# Division
print(a / b)

In [ ]:
# Modulus (remainder)
print(a % b)

In [ ]:
# Exponentiation
print(a ** b)

4. Control Structures

In [ ]:
# If-Else statement
x = 5
if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

In [ ]:
# For loop
for i in range(5):
    print(i)

In [ ]:
# While loop
i = 0
while i < 5:
    print(i)
    i += 1

## Data Structures

In [ ]:
# List
my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # Accessing elements

# Tuple (immutable list)
my_tuple = (6, 7, 8)
print(my_tuple[0])

# Dictionary (key-value pairs)
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict["name"])

# Set
my_set = {"apple", "banana", "cherry"}
print(my_set)

A list is a collection which is ordered and changeable. It allows duplicate members.

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

# Adding an item
fruits.append("orange")
print(fruits)

# Accessing items
print(fruits[1])

# Removing an item
fruits.remove("banana")
print(fruits)

A tuple is a collection which is ordered but unchangeable (immutable). It allows duplicate members.

In [ ]:
# Creating a tuple
my_tuple = ("apple", "banana", "cherry")
print(my_tuple)

# Accessing items
print(my_tuple[1])

# Tuples are immutable, so the following code will cause an error:
# my_tuple[1] = "orange"

A dictionary is a collection which is unordered, changeable, and indexed. It does not allow duplicates.

In [ ]:
# Creating a dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

# Accessing values
print(person["name"])

# Modifying a value
person["age"] = 26
print(person)

6. Functions

In [ ]:
def greet(name):
    """This function greets the person passed in as parameter"""
    print(f"Hello, {name}!")

greet("Alice")  # Output: Hello, Alice!

A set is a collection which is unordered, unindexed, and does not allow duplicate members.

In [ ]:
# Creating a set
my_set = {"apple", "banana", "cherry"}
print(my_set)

# Adding an item
my_set.add("orange")
print(my_set)

# Removing an item
my_set.remove("banana")
print(my_set)

## Basic File Management in Python

You can also use many command line tools in a Jupyter notebook. We use `echo` to create a first text file.

In [ ]:
!echo "This is the beginning of a new file!\n" >> example.txt

To read a file, use the open() function in reading mode ('r').

In [ ]:
# Reading from a file
file = open("example.txt", "r")

# Read the entire content of the file
content = file.read()
print(content)

# Always remember to close the file after you're done
file.close()

To write to a file, use the open() function in write mode ('w').

In [ ]:
# Writing to a file
file = open("example.txt", "w")
file.write("Hello, World!\nThis is a new line.")
file.close()

You can also append data to an existing file using append mode ('a').

In [ ]:
# Appending to a file
file = open("example.txt", "a")
file.write("\nThis is an appended line.")
file.close()

It’s a good practice to use the `with` statement when working with files to ensure the file is properly closed after the operations.

In [ ]:
# Using 'with' statement to open and read a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

## String Handling in Python

Python provides a variety of methods for manipulating and handling strings.

In [ ]:
# Concatenating strings
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"
print(message)

**String Formatting:** You can format strings using the format() method or f-strings (in Python 3.6+).

In [ ]:
# Using format method
message = "Hello, {}!".format(name)
print(message)

# Using f-strings (Python 3.6+)
message = f"Hello, {name}!"
print(message)

**String Methods:** Some common string methods in Python include upper(), lower(), replace(), and split().

In [1]:
# Changing case
text = "Hello, World!"
print(text.upper())
print(text.lower())

# Replacing parts of a string
print(text.replace("World", "Python"))

# Splitting a string
words = text.split(", ")
print(words)

HELLO, WORLD!
hello, world!
Hello, Python!
['Hello', 'World!']

**Regular expressions:** The re.search() function searches for a match in a string.

In [4]:
import re

# Search for the word 'Python' in a string
text = "Welcome to Python programming!"
pattern = "Python"

# Search for the pattern
match = re.search(pattern, text)

# The re.search() function looks for the word “Python” in the text. If found, it returns a match object, otherwise None.
if match:
    print("Match found!")
else:
    print("No match.")

Match found!

## Quiz time!

**Question:** What will be the output of the following code?

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits[1])

A) "apple"  
B) "banana"  
C) "cherry"  
D) ["apple", "banana", "cherry", "orange"]

**Question:** What error will the following code produce?

In [ ]:
colors = ("red", "green", "blue")
colors[1] = "yellow"

A) TypeError: 'tuple' object does not support item assignment  
B) IndexError: tuple index out of range  
C) No error, it works fine  
D) AttributeError: 'tuple' object has no attribute 'append'

**Question:** What will be the value of car["year"] after running the following code?

In [ ]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["year"] = 2022
print(car["year"])

A) 1964  
B) 2022  
C) None  
D) KeyError: 'year'

**Question:** What will happen if the following code is executed, and example.txt doesn’t exist in the directory?

In [ ]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

A) It will create a new file named example.txt.  
B) It will throw a FileNotFoundError.  
C) It will print an empty string.  
D) It will print None.

**Question:** What will be the value of message in the following code?

In [ ]:
name = "Alice"
greeting = "Hello"
message = greeting + ", " + name + "!"
print(message)

A) "Hello Alice"  
B) "Hello, Alice!"  
C) "Hello Alice!"  
D) ", Alice!"

**Question:** What will the following code output?

In [ ]:
text = "Welcome to Python"
print(text.upper())

A) WELCOME TO PYTHON  
B) welcome to python  
C) Welcome To Python  
D) Welcome to python

**Question:** What happens if you try to add a duplicate item to a set?

In [ ]:
my_set = {"apple", "banana", "cherry"}
my_set.add("banana")
print(my_set)

A) The set will now contain two "banana" items.  
B) The set will raise an error.  
C) The set will remain unchanged.   
D) The set will reorder itself.

**Question:** What is the correct way to format a string using f-strings in the following code?

In [ ]:
name = "Alice"
age = 25
message = f"My name is ... and I am ... years old."
print(message)

A) f"My name is {name} and I am {age} years old."  
B) f"My name is name and I am age years old."  
C) "My name is {name} and I am {age} years old."  
D) "My name is name and I am age years old."

**Question:** What will be the output of the following code?

In [5]:
numbers = [10, 20, 30, 40, 50]
print(numbers[-2])

40

A) 20  
B) 40  
C) 30  
D) 50

**Question:** What will the following code output?

In [6]:
person = {
    "name": "John",
    "age": 30
}
print("height" in person)

False

A) True  
B) False  
C) None  
D) KeyError: 'height'

## Lab Assignments

Download this notebook from Moodle and rerun the examples from today's lecture. If you can execute all of the code cells above you are done! The setup guide below will help you to get started!

Once, you have setup your Python/Jupyter environment, please do the following task:

- Download this [dataset](https://librarycarpentry.org/lc-python-intro/files/data.zip) and extract it (do not commit it to this repository).
- Get familiar with the [pandas](https://pandas.pydata.org/) library and install it in your Python environment.
- Load one or more of the CSV files in the data/ directory as a DataFrame.
- Use the functions `info()`, `head()`, `tail()`, `describe()`, and the variable `columns` to get some basic information about the data. Also document and describe the outputs.
- How do you get the first/last ten rows of the DataFrame?
- How do you get the rows between row 30 and row 40?
- How do you get a specific column, e.g., 'year'? What kind of `type()` has the column?
- What is the `*.pkl` file? How do load it into your program and what are the data contents in it?
- What is the purpose of `.loc()` and `.iloc()`?
- How do you sort values in a column?

When you have completed the tasks, please commit this notebook to your GitHub repository in the directory `assignments/06/`.

In [37]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/2011_circ.csv")
#print(df.info(),df.head(),df.tail(),df.describe(),df.columns,sep="\n\n")
#df[30:40]
#df["ytd"]
df2 = pd.read_pickle("../data/all_years.pkl")
df2

,branch,address,city,zip code,january,february,march,april,may,june,july,august,september,october,november,december,ytd,year
0,Albany Park,5150 N. Kimball Ave.,Chicago,60625.0,8427,7023,9702,9344,8865,11650,11778,11306,10466,10997,10567,9934,120059,2011
1,Altgeld,13281 S. Corliss Ave.,Chicago,60827.0,1258,708,854,804,816,870,713,480,702,927,787,692,9611,2011
2,Archer Heights,5055 S. Archer Ave.,Chicago,60632.0,8104,6899,9329,9124,7472,8314,8116,9177,9033,9709,8809,7865,101951,2011
3,Austin,5615 W. Race Ave.,Chicago,60644.0,1755,1316,1942,2200,2133,2359,2080,2405,2417,2571,2233,2116,25527,2011
4,Austin-Irving,6100 W. Irving Park Rd.,Chicago,60634.0,12593,11791,14807,14382,11754,14402,14605,15164,14306,15357,14069,12404,165634,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,Chinatown,2100 S. Wentworth Ave.,Chicago,60616.0,4795,4258,5316,5343,4791,5367,5477,5362,4991,4847,4035,3957,58539,2022
959,Brainerd,1350 W. 89th St.,Chicago,60620.0,255,264,370,386,399,421,337,373,361,276,256,201,3899,2022
960,Brighton Park,4314 S. Archer Ave.,Chicago,60632.0,1394,1321,1327,1705,1609,1578,1609,1512,1425,1603,1579,1278,17940,2022
961,South Chicago,9055 S. Houston Ave.,Chicago,60617.0,496,528,739,775,587,804,720,883,681,697,799,615,8324,2022
962,Chicago Bee,3647 S. State St.,Chicago,60609.0,799,543,709,803,707,931,778,770,714,835,718,788,9095,2022

#### Task 4:
`.info()`: outputs information about columns, their content and their data types  
`.head(n=5)`: outputs the first n (default 5) lines of the dataframe  
`.tail(n=5)`: outputs the last n (default 5) lines of the dataframe  
`.describe()`: outputs statistical information (count, mean, std etc.) about the contents of each column  
`.columns`: outputs the names of all of the columns of the dataframe  
#### Task 5:
First ten rows of dataframe `df`: `df.head(10)`  
Last ten rows of dataframe `df`: `df.tail(10)`  
#### Task 6:
Rows 30 to 40: `df[30:40]`
#### Task 7:
Get specific column (eg. "ytd"): `df["ytd"]` or `df.loc[:,["ytd"]]`. When executing the first command there will be an output that also specifies the `dtype` (in this case `int64`).
#### Task 8
A `.pkl`-File is a filetype that is Python-specific. It is good for working with larger (or temporary) amounts of data that will only be used in Python. Pickle-Files are saved in binary, making them hard to read but fast to work with.
#### Task 9
`.loc()` enables you to select within a dataframe by matching labels, while `.iloc()` matches by position.
#### Task 10
`.sort_values(by=<column>)` allows you to sort by the values within a specific column.

## Setup your Python and Jupyter environment

### Step 1: Install Python

1.	Download Python:

- Go to the official Python website.
- Download the latest version of Python (e.g., Python 3.x.x) for your operating system (Windows, macOS, or Linux).

2.	Install Python:  

Windows:
- Run the downloaded .exe file.
- IMPORTANT: During installation, check the box that says “Add Python to PATH”.
- Select “Customize installation” (optional, but helpful for control over features).
- Complete the installation.
  
macOS:
- Run the .pkg file and follow the instructions.
- Alternatively, use the terminal command (requires Homebrew):

```
brew install python3
```

Linux:
- Use the package manager (e.g., apt for Ubuntu):

```
sudo apt update
sudo apt install python3 python3-pip
```

3.	Verify Python Installation:

- Open a terminal or command prompt and type:
```
python --version
```

This should show the Python version you installed (e.g., Python 3.10.0).

### Step 2: Install a Package Manager (pip)

pip is the package manager for Python and is usually bundled with Python installations. You can use it to install additional libraries, including Jupyter.

1.Verify pip is installed:
- Open a terminal or command prompt and type:

```
pip --version
```

- If pip is installed, it will display the version.

2.	Upgrade pip (optional):
- It’s a good idea to keep pip up-to-date. In the terminal/command prompt, type:

```
python -m pip install --upgrade pip
```

### Step 3: Set Up a Virtual Environment (Optional but Recommended)

Virtual environments allow you to isolate Python packages and dependencies for different projects.

1.	Create a virtual environment:

Navigate to the directory where you want to set up the environment and run:

```
python -m venv myenv
```

This will create a virtual environment named myenv.

2. Activate the virtual environment:
Windows:

```
myenv\Scripts\activate
```

- macOS/Linux:

```
source myenv/bin/activate
```

3.	Deactivate the virtual environment: (when you’re done working)

```
deactivate
```


### Step 4: Install Jupyter Notebook

Jupyter is installed using pip. Once Python (and pip) is set up, Jupyter can be easily installed.

1. Install Jupyter:

In the terminal or command prompt (and optionally inside your virtual environment), type:

```
pip install jupyter
```

2.	Verify Jupyter Installation:

After installation, type:

```
jupyter --version
```

This should display the version of Jupyter.

### Step 5: Launch Jupyter Notebook

1.	Run Jupyter Notebook:

In your terminal/command prompt, type:

```
jupyter notebook
```

This will open Jupyter in your default web browser.

2.	Create a new notebook:
- In the Jupyter dashboard (the browser window), click New and select Python 3 to create a new notebook.

### Step 6: Install Common Python Packages

Install commonly used libraries such as numpy, pandas, and matplotlib.

1.	Install packages:

```
pip install numpy pandas matplotlib
```

2.	Test packages in Jupyter:
- In a new Jupyter notebook, try importing these libraries:

```
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
```

### Step 7: Configure Jupyter for Better Usage (Optional)

You can enhance your Jupyter environment with additional configurations.

1.	JupyterLab (an advanced alternative to Jupyter Notebook):

Install JupyterLab:
```
pip install jupyterlab
```

Launch JupyterLab by typing:
```
jupyter lab
```

2.	Install Jupyter Extensions (optional but useful):
- Jupyter extensions add useful features like a table of contents, variable inspector, etc.
- First, install jupyter_contrib_nbextensions:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
```

- Open Jupyter Notebook and enable the desired extensions from the Nbextensions tab.

### Step 8: Install Integrated Development Environment (IDE) (Optional)

You can install an IDE like VSCode or PyCharm for a better Python development experience.

1. Install Visual Studio Code:
- Download and install Visual Studio Code.
- Install the Python extension from the VSCode marketplace.

2. Configure Jupyter in VSCode:
- Once the Python extension is installed in VSCode, you can open .ipynb files (Jupyter notebooks) directly in VSCode and run them within the IDE.

### Step 9: Explore and Test

Your environment is now ready! Explore Python in Jupyter by writing and running simple code snippets, installing additional libraries as needed for specific projects, and trying out new features.

Troubleshooting Tips:

- Python not recognized: Ensure Python is added to your system’s PATH. On Windows, you can manually add it if you didn’t check the option during installation.
- Permission errors: Run commands with sudo on macOS/Linux or as an administrator on Windows if you encounter permission issues.
- Kernel issues in Jupyter: If you have multiple Python versions, ensure the correct Python environment is linked to Jupyter using the command python -m ipykernel install --user --name=myenv for the correct virtual environment.